<div class="container">
    <mat-card [formGroup]="ticketFormGroup" class="ticket-form">
        <mat-card-header>
            <mat-card-title>Nuevo Ticket</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Fecha de ticket</mat-label>
                <mat-hint>MM-DD-YYYY</mat-hint>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix
                    [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tipo de Servicio</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let tipo of tiposTickets"
                        [value]="tipo">{{ tipo }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Código Técnico</mat-label>
                <input matInput formControlName="codigoTecnico"
                    [value]="codigoTecnico" readonly />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Archivo</mat-label>
                <input matInput readonly formControlName="fileName">
                <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <input type="file" hidden #f_input (change)="selectFile($event)"
                    accept="application/pdf" />
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary"
                    (click)="guardarTicket()">Guardar Ticket</button>
            </mat-card-actions>

        </mat-card-content>
    </mat-card>
</div>